#carrusel {
    width: 640px;
    height: 480px;
    background-image: url("../../public/img/imatge1.png");
    background-size: 640px;
}

#anterior,
#seguent {
    position: relative;
    width: 30px;
    height: 60px;
    text-align: center;
    color: white;
    font-size: xx-large;
    padding-top: 15px;
    opacity: 0.7;
    background-color: black;
    display: none;
    cursor: pointer;
}

#anterior {
    left: 0px;
    top: 180px;
}

#seguent {
    left: 610px;
    top: 105px;
}

#foto {
    width: 320px;
    height: 200px;
    background-color: blue;
}

#separador {
    width: 100%;
    height: 0%;
    display: block;
}

.punts {
    display: inline-block;
    font-size: xx-large;
    margin-top: -12px;
}

#navegador {
    position: relative;
    top: 299px;
    left: 220px;
    width: 200px;
    height: 20px;
    background-color: green;
    display: block;
    text-align: center;
    cursor: pointer;
}