#Comptador {
    width: 250px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 0px 10px;
    row-gap: 0px;
    margin: 40px;
}

#Comptador__Disp {
    width: 160px;
    height: 38px;
    flex-direction: row;
    flex-flow: column wrap;
    flex-wrap: wrap;
    flex-grow: 3;
    align-content: flex-start;
    margin: 10px 15px 20px 15px;
    padding-top: 9px;
    text-align: right;
    font-size: x-large;
    padding-right: 10px;
    color: black;
    background-color: white;
}

#Comptador__Inc {
    background-color: wheat;
    width: 100px;
    height: 70px;
    border: 2px solid black;
    flex-direction: row;
    flex-flow: column wrap;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 10px;
    padding: 20px 35px;
    font-size: x-large;
}

#Comptador__Dec {
    background-color: wheat;
    width: 100px;
    height: 70px;
    border: 2px solid black;
    flex-direction: row;
    flex-flow: column wrap;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-right: 10px;
    padding: 20px 35px;
    font-size: x-large;
}

#Comptador__Mes5 {
    background-color: wheat;
    width: 218px;
    height: 40px;
    border: 2px solid black;
    flex-direction: row;
    align-content: center;
    margin-top: -30px;
    padding: 6px 90px;
    font-size: x-large;
}