#Graella {
    display: flex;
    align-items: left;
    flex-flow: row wrap;
    justify-content: left;
    gap: 20px 10px;
}

.Graella__foto {
    width: 200px;
    /*flex-direction: row;
    flex-flow: column wrap;
    flex-wrap: wrap;
    flex-grow: 1;
    align-content: flex-start;*/
}

#Graella__fons {
    /*position: absolute;
    top: 0px;
    left: 0px;*/
    display: flex;
    align-items: left;
    flex-flow: row wrap;
    justify-content: left;
    z-index: 1;
    gap: 20px 10px;
}

#Graella__zoom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: url("https://via.placeholder.com/640x320");
    background-repeat: no-repeat;
    background-color: white;
    z-index: 2;
    visibility: hidden;
}