#rellotgeanalogic {
    text-align: center;
}

#tres {
    position: relative;
    left: 39px;
    top: 106px;
}

#sis {
    position: relative;
    left: 0px;
    top: 127px;
}

#nou {
    position: relative;
    left: -39px;
    top: 68px;
}

#dotze {
    position: relative;
    left: 0px;
    top: 90px;
}

.pastilleta2 {
    height: 60px;
    width: 60px;
    background-color: gray;
}

.mostra_watch {
    display: block;
}

.amaga_watch {
    display: none;
}