#rellotgeanalogic {
    text-align: center;
}

#tres {
    position: absolute;
    left: 571px;
    top: 245px;
}

#sis {
    position: absolute;
    left: 535px;
    top: 283px;
}

#nou {
    position: absolute;
    left: 495px;
    top: 245px;
}

#dotze {
    position: absolute;
    left: 530px;
    top: 210px;
}

.pastilleta2 {
    height: 60px;
}

.mostra_watch {
    display: block;
}

.amaga_watch {
    display: none;
}