#toggleablesidebar {
    position: absolute;
    top: 80px;
    z-index: 0;
    height: 82%;
    width: 50%;
    background-color: green;
}

#boto {
    background-color: lightgray;
    width: 100px;
    height: 25px;
    cursor: pointer;
}

#sidebar {
    z-index: 3;
    position: absolute;
    top: 25px;
    left: 0px;
    bottom: 100px;
    width: 0px;
    background-color: red;
}

@keyframes slideout {
    from {
        width: 0px;
    }
    to {
        width: 200px;
    }
}

@keyframes slidein {
    from {
        width: 200px;
    }
    to {
        width: 0px;
    }
}