#acordio {
    background-color: red;
}

.entrada {
    background-color: blue;
    color: white;
    list-style: none;
    text-align: left;
    padding-left: 10px;
    width: 120px;
    font-size: x-large;
    line-height: 1.5em;
}

li {
    cursor: pointer;
}