#graellaWindow {
    background-color: red;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px 10px;
}

.foto {
    width: 120px;
    height: 90px;
    flex-direction: row;
    flex-flow: column wrap;
    flex-wrap: wrap;
    flex-grow: 3;
    align-content: flex-start;
}